.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    background-color: #0061aa;
    height: 70px;
    flex-direction: row;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .header_first_section {
        display: flex;
        flex-direction: row;
        height: 70px;
        width: 50%;

        .header_item {
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 1px solid #ffffff;

          a {
            text-decoration-line: none;
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #ffffff;
          }

          a:active {
            color: black !important;
          }
        }
      }

      .header_second_section {
        display: flex;
        flex-direction: row;

        button {
          background: #ffffff;
          height: 100%;
          width: 80px;
          border: 0.5px solid #0061aa;
          cursor: pointer;
        }
      }
    }
  }

  .main_content {
    background-color: white;
    height: 100%;
    padding: 20px 40px;

    .title {
      background-color: black;
      h4 {
        color: sandybrown;
      }
    }

    .content_header {
      background-color: #fdfdfd;
      border: 1px solid rgb(206, 206, 206);
      border: 1px solid #b9c9e2;
      padding-bottom: 0px;
      border-radius: 10px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      padding: 20px 20px 20px 20px;
      h2 {
        height: 50%;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
      input {
        background-color: #fdfdfd;
        border: 1px solid #b9c9e2;
        height: 45px;
        width: 40%;
        align-self: center;
        padding: 8px;
        border-radius: 10px;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
      input:focus {
        outline: none !important;
        border: 1px solid #83a4da;
        box-shadow: 0 0 10px #719ece;
      }
    }

    .article {
      flex-basis: 28%;
      background-color: #fdfdfd;
      border: 1px solid #b9c9e2;
      padding: 10px;
      padding-bottom: 0px;
      border-radius: 10px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      .article_title {
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 670;
        color: #1d1d1d;
      }
      .article_picture {
        img {
          max-width: 100%;
        }
      }
      .article_content {
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #585858;
      }
      .article_back {
        height: 100%;
        text-align: left;
        vertical-align: bottom;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #000000;
        padding-bottom: 5px;
        a {
          color: #000000;
          text-decoration-line: none;
        }
        :hover {
          color: #0061aa;
        }
      }
    }

    .headlines {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 100%;

      .thumbnail {
        flex-basis: 20%;
        background-color: #fdfdfd;
        border: 1px solid rgb(206, 206, 206);
        padding: 10px;
        padding-bottom: 0px;
        border-radius: 10px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        .thumbnail_title {
          font-family: sans-serif;
          font-size: 20px;
          font-weight: 670;
          color: #1d1d1d;
        }
        .thumbnail_picture {
          img {
            max-width: 100%;
          }
        }
        .thumbnail_content {
          font-family: sans-serif;
          font-size: 15px;
          font-weight: 500;
          color: #585858;
        }
        .thumbnail_more {
          height: 100%;
          font-family: sans-serif;
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          padding-bottom: 5px;
          text-align: right;
          a {
            color: #000000;
            text-decoration-line: none;
          }
          :hover {
            color: #0061aa;
          }
        }
      }
    }
  }
}
